
	/*-- BEGIN Sitewide CSS - Stitch extender classes */
	.mkt_fixed{position:fixed}.mkt_top--0{top:0}.mkt_bottom--0{bottom:0}.mkt_left--0{left:0}.mkt_right--0{right:0}.mkt_content--under{width:100%;-webkit-transform:none;transform:none}.mkt_content--over{width:auto;position:absolute}@media (max-width:767px){.mkt_content--over-at-lg{position:static;-webkit-transform:none;transform:none}}@media (min-width:768px){.mkt_content--over-at-lg{position:absolute;width:auto}}.mkt_absolute--top-left{left:0;top:0}.mkt_absolute--top-center{top:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.mkt_absolute--top-right{top:0;right:0}.mkt_absolute--center-left{top:50%;left:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.mkt_absolute--center-right{top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.mkt_absolute--bottom-left{left:0;bottom:0}.mkt_absolute--bottom-center{left:50%;bottom:0;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.mkt_absolute--bottom-right{right:0;bottom:0}@media only screen and (min-width:768px){.mkt_absolute--at-lg{position:absolute}.mkt_absolute-centered--at-lg{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}.mkt_absolute-centered--horizontal-at-lg{position:absolute;left:50%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-ms-transform:translate(-50%,0)}.mkt_absolute-centered--vertical-at-lg{position:absolute;top:50%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%)}}.mkt_layer{position:absolute;top:0;left:0}.mkt_sp_horizontal_auto{margin-left:auto;margin-right:auto}@media only screen and (min-width:768px){.mkt_pd--horizontal-at-lg{padding-left:1rem;padding-right:1rem}.mkt_pd--left-at-lg{padding-left:1rem}.mkt_pd--right-at-lg{padding-right:1rem}.mkt_pd--horizontal-sm-at-lg{padding-left:.5rem;padding-right:.5rem}.mkt_pd--left-sm-at-lg{padding-left:.5rem}.mkt_pd--right-sm-at-lg{padding-right:.5rem}.mkt_pd--horizontal-lg-at-lg{padding-left:1.5rem;padding-right:1.5rem}.mkt_pd--left-lg-at-lg{padding-left:1.5rem}.mkt_pd--right-lg-at-lg{padding-right:1.5rem}.mkt_pd--horizontal-xl-at-lg{padding-left:2rem;padding-right:2rem}.mkt_pd--left-xl-at-lg{padding-left:2rem}.mkt_pd--right-xl-at-lg{padding-right:2rem}}.mkt_z--2{z-index:2}.mkt_z--neg{z-index:-50}.mkt_font-size--12-at-lg,.mkt_font-size--14-at-lg,.mkt_font-size--16-at-lg,.mkt_font-size--18-at-lg,.mkt_font-size--20-at-lg,.mkt_font-size--24-at-lg,.mkt_font-size--28-at-lg,.mkt_font-size--32-at-lg,.mkt_font-size--36-at-lg,.mkt_font-size--42-at-lg,.mkt_font-size--48-at-lg,.mkt_font-size--0-5vw-at-lg,.mkt_font-size--1vw-at-lg,.mkt_font-size--1-5vw-at-lg,.mkt_font-size--2vw-at-lg,.mkt_font-size--3vw-at-lg,.mkt_font-size--4vw-at-lg{font-size:auto}@media (min-width:768px){.mkt_font-size--12-at-lg{font-size:.75rem}.mkt_font-size--14-at-lg{font-size:.875rem}.mkt_font-size--16-at-lg{font-size:1rem}.mkt_font-size--18-at-lg{font-size:1.125rem}.mkt_font-size--20-at-lg{font-size:1.25rem}.mkt_font-size--24-at-lg{font-size:1.5rem}.mkt_font-size--28-at-lg{font-size:1.75rem}.mkt_font-size--32-at-lg{font-size:2rem}.mkt_font-size--36-at-lg{font-size:2.25rem}.mkt_font-size--42-at-lg{font-size:2.625rem}.mkt_font-size--48-at-lg{font-size:3rem}.mkt_font-size--56-at-lg{font-size:3.5rem}.mkt_font-size--64-at-lg{font-size:4rem}.mkt_font-size--74-at-lg{font-size:4.625rem}.mkt_font-size--0-5vw-at-lg{font-size:.5vw}.mkt_font-size--1vw-at-lg{font-size:1vw}.mkt_font-size--1-5vw-at-lg{font-size:1.5vw}.mkt_font-size--2vw-at-lg{font-size:2vw}.mkt_font-size--3vw-at-lg{font-size:3vw}.mkt_font-size--4vw-at-lg{font-size:4vw}}.mkt_font-size--12-at-xl,.mkt_font-size--14-at-xl,.mkt_font-size--16-at-xl,.mkt_font-size--18-at-xl,.mkt_font-size--20-at-xl,.mkt_font-size--24-at-xl,.mkt_font-size--28-at-xl,.mkt_font-size--32-at-xl,.mkt_font-size--36-at-xl,.mkt_font-size--42-at-xl,.mkt_font-size--48-at-xl,.mkt_font-size--56-at-xl{font-size:auto}@media (min-width:1024px){.mkt_font-size--12-at-xl{font-size:.75rem}.mkt_font-size--14-at-xl{font-size:.875rem}.mkt_font-size--16-at-xl{font-size:1rem}.mkt_font-size--18-at-xl{font-size:1.125rem}.mkt_font-size--20-at-xl{font-size:1.25rem}.mkt_font-size--24-at-xl{font-size:1.5rem}.mkt_font-size--28-at-xl{font-size:1.75rem}.mkt_font-size--32-at-xl{font-size:2rem}.mkt_font-size--36-at-xl{font-size:2.25rem}.mkt_font-size--42-at-xl{font-size:2.625rem}.mkt_font-size--48-at-xl{font-size:3rem}.mkt_font-size--56-at-xl{font-size:3.5rem}.mkt_font-size--64-at-xl{font-size:4rem}.mkt_font-size--74-at-xl{font-size:4.625rem}}@media only screen and (min-width:768px){.mkt_txt--left-at-lg{text-align:left}.mkt_txt--center-at-lg{text-align:center}.mkt_txt--right-at-lg{text-align:right}}.mkt_content-wrapper{max-width:1400px;margin:0 auto}.mkt_content-wrapper *{box-sizing:border-box}.mkt_content-wrapper picture{display:block;width:100%;font-size:0}.mkt_content-wrapper img{width:100%}.mkt_gap_full{margin: 0 .5rem;}
	
	  @media (min-width: 768px) {
	  .mkt_font-size--96-at-lg { font-size: 6rem; }
	  .mkt_font-size--6vw-at-lg { font-size: 6vw; }
	  .mkt_font-size--136-at-lg { font-size: 8.5rem; }
	  .mkt_font-size--8vw-at-lg { font-size: 8.5vw; }
	  }
	  @media (min-width: 1024px) {
	  .mkt_font-size--96-at-xl { font-size: 6rem; }
	  .mkt_font-size--136-at-xl { font-size: 8.5rem; }
	  }
	
	/* END Sitewide CSS - Stitch extender classes */
	
	/*BEGIN Category Title Classes*/
	.cat-page--title {
	    padding: 1.25rem 0 .5rem;
	    text-align: center;
	    text-transform: uppercase;
	}
	.cat-page--title--text {
	    display: inline;
	    line-height: 1;
	    font-weight: 700;
	    color: #666;
	    font-size: 146.7%;
	}
	 
	@media (min-width: 768px) {
	.cat-page--title {
	    padding: 1.25rem 0 1rem;
	}
	.cat-page--title--text {
	    font-size: 175%;
	}
	}
	
	/*END Category Title Classes*/
	/* ============= CSS OPTLY EXTENSIONS ====================== */
	/* ********SVG overlay extension******** */
	.mkt_gap_full {
	  -webkit-font-smoothing:antialiased;
	}
	/* Used with SVGs, makes overlay SVG match width & height of background image */
	.mkt_full_size {
	  width: 100%;
	  height: 100%;
	}
	
	@media (max-width: 568px) {
	  .mkt_gap_details {color: #000;}
	}
	
	.mkt_gap_details {text-decoration: underline;}
	
	@media (min-width: 569px) {
	  .mkt_full_size-md {
	    width: 100%;
	    height: 100%;
	  }
	}
	
	/* On mobile, make content block full width with space between image */
	.mkt_gap_full .mkt_gap_full_content {
	  margin-top: 1rem;
	  width: 100%;
	}
	
	.mkt_gap_full .mkt_gap_full_content .sds_btn {
	  font-weight: normal;
	}
	
	/* ********LIVE TEXT Extension******** */
	.mkt_gap_full {
	  -webkit-font-smoothing:antialiased;
	}
	/* On mobile, make content block full width with space between image */
	.mkt_gap_full .mkt_gap_full_content {
	  margin-top: 1rem;
	  width: 100%;
	}
	
	.mkt_gap_full .mkt_gap_full_content .sds_btn {
	  font-weight: normal;
	}
	/* Inline SVG styling for mobile (dynamically control size) */
	.mkt_gap_full .mkt_gap_full_content .mkt_gap_graphic svg {
	  width: 90%;
	  max-width: 400px;
	}
	
	/* CSS for XL Headline */
	.mkt_line-height--0-9 { line-height: .9;}
	
	@media (max-width: 767px) {
	  /* Logic to show mobile headline above or below image on mobile */
	  .mkt_mobile_headline_over .sds_relative .mkt_headline_id, .mkt_mobile_headline_under .mkt_gap_full_content .mkt_headline_id {
	    display: block;
	  }
	  .mkt_mobile_headline_over .mkt_gap_full_content .mkt_headline_id, .mkt_mobile_headline_under .sds_relative .mkt_headline_id {
	    display: none;
	  }
	}
	
	/* ******CTAS for SVG and Live Text Extension******* */
	@media (max-width: 767px) {
	  /* On mobile, makes CTAs dynamically change from to full width  */
	  .mkt_gap_full_cta_container {
	    margin-bottom:1rem;
	    box-sizing: border-box;
	    padding: 0;
	    /*padding: 0 .5rem;*/
	  }
	  .mkt_gap_full_cta_container a.sds_btn {
	    /*flex-grow: 1;*/
	  }
	
	  /* Overriding Stitch base button style */
	  .mkt_gap_full a.sds_btn  {
	    background: #fff;
	    color: #122344;
	    border-left: none;
	    border-right: none;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    padding: 1rem 0;
	    margin: 0;
	    text-align: left;
	    /* Overriding Stitch base button style to allow wider text that line breaks */
	    white-space: normal;
	  }
	
	  .mkt_gap_full a.sds_btn:nth-child(n+2), .mkt_gap_full a.sds_btn:nth-child(n+3),.mkt_gap_full a.sds_btn:nth-child(n+4)  {
	    border-top: none;
	  }
	}
	
	@media (min-width: 768px) {
	  /* Content container for desktop */
	  .mkt_gap_full .mkt_gap_full_content {
	    width: auto;
	    position: absolute;
	    margin: 0;
	    white-space: nowrap;
	  }
	  /* Overriding Stitch base button hover style */
	  .mkt_gap_full .sds_btn--underline:hover {
	    color: #122344;
	    border-bottom: 2px solid #122344;
	  }
	  /* Fixes flex styling of CTAs for desktop */
	  .mkt_gap_full_cta_container {
	    display: inline-flex;
	  }
	  .mkt_gap_full_cta_container .mkt_cta_break {
	    display: none;
	  }
	}
	@media (min-width: 1024px) {
	  .mkt_gap_full_cta_container a.sds_btn--underline {
	    font-size: .9375rem;
	  }
	}
	
	@media (min-width: 1024px) {
	  .mkt_gap_full_cta_container a.sds_btn--color-wh, .mkt_gap_full_cta_container a.sds_btn--color-bk{
	    font-size: .9375rem;
	  }
	}
	
	/* ******HP Sub Extension******* */
	.mkt_gap_sub {
	  -webkit-font-smoothing:antialiased;
	}
	/* Used with SVGs, makes overlay SVG match width & height of background image */
	.mkt_full_size {
	  width: 100%;
	  height: 100%;
	}
	/* Setting a minimum height of the body content so that all subs stay the same height regardless of content */
	.mkt_gap_sub .mkt_gap_sub_body {
	  min-height: 44px;
	}
	
	.mkt_gap_sub .sds_btn {
	  font-weight: normal;
	}
	
	@media (max-width: 767px) {
	
	  /* Overriding Stitch base button style */
	  .mkt_gap_sub a.sds_btn  {
	    background: #fff;
	    color: #122344;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
	    padding: 1rem 0;
	    margin: 0;
	  }
	
	  .mkt_gap_sub a.sds_btn:nth-child(n+2), .mkt_gap_sub a.sds_btn:nth-child(n+3),.mkt_gap_sub a.sds_btn:nth-child(n+4)  {
	    border-top: none;
	  }
	}
	
	
	@media (min-width: 768px) {
	  .mkt_gap_sub .mkt_gap_sub_body {
	    min-height: 50px;
	  }
	}
	
	/* *********CTA drop down Extension*********** */
	/*https://codepen.io/Tont/pen/hdsev*/
	ul.mkt_gap_btn_dropdown_menu {
	  z-index: 500;
	  margin: 0 auto;
	  -webkit-font-smoothing:antialiased;
	}
	ul.mkt_gap_btn_dropdown_menu > li {
	  list-style-type:none;
	  position:relative;
	  display: inline-block;
	  width: 100%;
	}
	
	ul.mkt_gap_btn_dropdown_menu > li label {
	  padding: 1rem 0;
	  background: #fff;
	  border-bottom: 1px solid #ccc;
	  border-top: 1px solid #ccc;
	  /*margin: 0 0.5rem;*/
	  margin: 0; /*remove padding from CTA drop */
	}
	ul.mkt_gap_btn_dropdown_menu > li label:after {
	  content:"+";
	  padding-left:.5rem;
	  vertical-align: text-top;
	}
	
	ul.mkt_gap_btn_dropdown_menu > li input:checked ~ label:after {
	  content:"–";
	  /*padding-left:.65rem;*/
	}
	
	/*hide the inputs*/
	ul.mkt_gap_btn_dropdown_menu > li input {display:none}
	
	/*show the second levele menu of the selected voice*/
	ul.mkt_gap_btn_dropdown_menu > li input:checked ~ ul.mkt_gap_btn_dropdown_submenu {
	  max-height:800px;
	  transition:max-height 0.3s ease-in;
	}
	
	/*style for the second level menu*/
	.mkt_gap_btn_dropdown_underline ul.mkt_gap_btn_dropdown_submenu {
	  padding: 0; /*0 .5rem;*/
	}
	/*style for the second level menu*/
	ul.mkt_gap_btn_dropdown_submenu {
	  list-style-type:none;
	  background:#fff;
	  transition:max-height 0.5s ease-out;
	  position:relative;
	  min-width:100%;
	  z-index: 1200;
	  padding: 0;
	  box-sizing: border-box;
	  max-height: 0;
	  overflow:hidden;
	}
	
	/*style for second level menu with underline CTA*/
	.mkt_gap_btn_dropdown_underline ul.mkt_gap_btn_dropdown_submenu {
	  padding: 0;
	}
	
	ul.mkt_gap_btn_dropdown_submenu li {
	  padding:1rem 0;
	  border-bottom: 1px solid #ccc;
	  display: block;
	}
	ul.mkt_gap_btn_dropdown_submenu li a {
	  display:block;
	  text-decoration:none;
	  transition:color .3s;
	  white-space:nowrap;
	}
	
	.mkt_hpDropDown_txtColor {color:#122344;}
	
	@media (min-width: 768px) {
	
	  /*left padding on second dropdown */
	  .mkt_pd_left_05 {padding-left:.5rem}
	
	  ul.mkt_gap_btn_dropdown_menu, ul.mkt_gap_btn_dropdown_menu > li {
	    width: auto;
	  }
	  ul.mkt_gap_btn_dropdown_menu > li label.mkt_gap_btn_dropdown_full {
	    padding: .75rem 1rem;
	    border-top: none;
	    border-bottom: none;
	    margin: 0;
	    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
	  }
	  ul.mkt_gap_btn_dropdown_menu > li label.mkt_gap_btn_dropdown_underline {
	    padding: .5rem 0rem;
	    border-top: none;
	    border-bottom: 2px solid #122344;
	    margin: 0;
	    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
	    font-weight: normal;
	  }
	  ul.mkt_gap_btn_dropdown_menu > li input:hover ~ label:after {
	    content:"–";
	    padding-left:.65rem;
	  }
	  ul.mkt_gap_btn_dropdown_menu > li label:hover {
	    color: #999;
	    border-color: currentColor;
	  }
	
	  ul.mkt_gap_btn_dropdown_submenu {
	    padding: 0 1rem;
	  }
	  /*style for the second level menu*/
	  .mkt_gap_btn_dropdown_underline ul.mkt_gap_btn_dropdown_submenu,
	  ul.mkt_gap_btn_dropdown_submenu.mkt_gap_btn_dropdown_underline {
	    padding: 0;
	  }
	
	  ul.mkt_gap_btn_dropdown_menu > li input:checked ~ ul.mkt_gap_btn_dropdown_submenu {
	    box-shadow:0 1px 1px 0px rgba(0,0,0,.3);
	  }
	
	  /*sub message with CTA Dropdown:  submenu has not drop shadoww */
	  .mkt_gap_sub ul.mkt_gap_btn_dropdown_menu > li input:checked ~ ul.mkt_gap_btn_dropdown_submenu {
	    box-shadow:none;
	    padding: 0;
	  }
	
	  ul.mkt_gap_btn_dropdown_submenu {
	    position: absolute;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li:first-child {
	    border-top: 1px solid #ccc;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li:last-child {
	    border-bottom: none;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li {
	    padding:.5rem 0;
	    float: none;
	    width: 100%;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li:first-child {
	    padding-top:.5rem;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li:last-child {
	    padding-bottom:.5rem;
	  }
	  ul.mkt_gap_btn_dropdown_submenu li a:hover {
	    color:#999;
	  }
	}
	
	@media (min-width: 1024px) {
	  ul.mkt_gap_btn_dropdown_menu > li label {
	    /*font-size: 1rem;*/
	    font-size: .9735rem;
	  }
	  ul.mkt_gap_btn_dropdown_submenu {
	    font-size: .9735rem;
	  }
	}
	
	/******* Carousel Extension *********************/
	.mkt_reg-hp { overflow:hidden; } /*HP container*/
	.mkt_gap_slider {
	  opacity: 1;
	}
	.slider.mkt_gap_slider  {
	  width: 100%;
	  z-index: 20;
	}
	
	.mkt_gap_slider .slick-list {
	  overflow: visible;
	}
	
	.mkt_gap_slider .mkt_slide {
	  margin-bottom: 3rem;
	}
	
	.mkt_gap_slider .mkt_slide:last-child {
	  margin-bottom: 0;
	}
	
	.mkt_gap_slider .slick-slide img, .mkt_gap_slider .slick-slide picture {
	  display: block;
	}
	
	.mkt_gap_slider .slick-next, .mkt_gap_slider .slick-prev {
	  z-index: 100;
	  height: 100%;
	  width: 40px;
	  top: 0;
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}
	.mkt_gap_slider .slick-next {
	  right: 0;
	}
	.mkt_gap_slider .slick-prev {
	  left: 0;
	}
	.mkt_gap_slider .slick-prev:hover,
	.mkt_gap_slider .slick-prev:focus,
	.mkt_gap_slider .slick-next:hover,
	.mkt_gap_slider .slick-next:focus {
	  background-color: rgba(255,255,255,.5);
	  -webkit-transition: background-color 0.15s ease-in-out;
	  transition: background-color 0.15s ease-in-out;
	}
	
	.mkt_gap_slider .slick-prev:before, .mkt_gap_slider .slick-next:before {
	  background-image:url('https://staging-sfcc.gap.co.uk/on/demandware.static/-/Library-Sites-GapSharedLibrary/default/dwb1fe293b/Gap/2018/Merch_SIte/01_EVERGREEN/slick_prev_arrow.png');
	  content: '';
	  height: 30px;
	  width: 15px;
	  display: inline-block;
	  background-repeat: no-repeat;
	}
	.mkt_gap_slider .slick-next:before {
	  -moz-transform: scaleX(-1);
	  -webkit-transform: scaleX(-1);
	  -o-transform: scaleX(-1);
	  transform: scaleX(-1);
	}
	
	.mkt_gap_dots {
	  margin-bottom: 1rem;
	  text-align: center;
	  margin-top: 1rem;
	}
	.mkt_gap_dots li {
	  list-style-type: none;
	  display: inline;
	}
	.mkt_gap_dots li:nth-child(even) {
	  margin: 0 .75rem;
	}
	
	@media (min-width: 768px) {
	  .mkt_gap_slider .slick-slide {
	    margin-bottom: 0;
	  }
	  .mkt_gap_dots {
	    float: right;
	    margin-right: 1.5rem;
	    margin-top: 0;
	  }
	}
	
	.mkt_gap_dots li button {
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  outline: 0;
	  border: 1px solid #666;
	  color: #fff;
	  background-color: transparent;
	  font-size: 0px;
	  cursor: pointer;
	  padding: 0;
	}
	.mkt_gap_dots li.slick-active button {
	  background-color: #666;
	}
	/* ============= END CSS OPTLY EXTENSIONS ====================== */
